name: {{ instance.name }}
project: {{ projectId }}
display_name: {{ instance.displayName }}
description: {{ instance.description }}
location: {{ instance.region }}
region: {{ instance.region }}
network: {{ instance.network }}