name      : "global-firewallpolicy"
parent_id : <Replace with Project Id> # project_id incase of global/regional firewall policy.
region : global
attachments :
  vpc1 : <Replace with VPC Self Link> # e.g."projects/project-id/global/networks/vpc-name"
egress_rules :
  - smtp :
    priority : 1002
    match :
      destination_ranges :
      - "10.1.1.0/24"
      layer4_configs :
       - protocol : tcp
         ports :
         - 25
         - 26
       - protocol : udp
         ports :
         - 25
