project_id = "{{ projectId }}"
network    = "{{ networkPath }}"
egress_rules = {
  allow-egress-vector-search = {
    deny = true
  }
}
ingress_rules = {
  allow-ingress-vector-search = {
    deny = true
  }
}
# As no fw rules are required for vertex connectivity