redis_cluster_name: {{ instance.name }}
project_id: {{ projectId }}
shard_count: {{ instance.shardCount }}
network_id: {{ instance.network }}
region: {{ instance.region }}
replica_count: {{ instance.replicaCount }}