folder_id                             = ""
bootstrap_project_id                  = ""
network_hostproject_id                = ""
network_serviceproject_id             = ""

organization_administrator      = ["user:organization-user-example@example.com"]
networking_administrator        = ["user:networking-user-example@example.com"]
security_administrator          = ["user:security-user-example@example.com"]

producer_cloudsql_administrator = ["user:cloudsql-user-example@example.com"]
producer_gke_administrator      = ["user:gke-user-example@example.com"]
producer_alloydb_administrator  = ["user:alloydb-user-example@example.com"]
producer_vertex_administrator   = ["user:vertex-user-example@example.com"]
producer_mrc_administrator      = ["user:mrc-user-example@example.com"]

networking_manual_administrator = ["user:networking-user-example@example.com"]

consumer_gce_administrator      = ["user:gce-user-example@example.com"]
consumer_cloudrun_administrator = ["user:cloudrun-user-example@example.com"]
